<ng-container *ngIf="zoom">
  <!-- TODO  : improve zoom, probably use a plugin -->
  <img
    appMouseWheel
    *ngIf="!error && picture"
    class="image object-bottom-bis h-full w-full"
    [src]="picture.path"
    (error)="onError()"
    (load)="onLoaded()"
  />
</ng-container>
<ng-container *ngIf="!zoom">
  <img
    *ngIf="!error && picture"
    class="image object-bottom-bis h-full w-full"
    [src]="picture.path"
    (error)="onError()"
    (load)="onLoaded()"
  />
</ng-container>

<img *ngIf="error" class="image h-full w-full" src="assets/images/pages/maps/broken-image.png" />
<!-- <img
    *ngIf="!picture && !error"
    class="image object-cover h-full w-full"
    src="assets/images/pages/maps/image-unvailable.png"
  /> -->
