<div
  id="map"
  leaflet
  class="map"
  appCustomLeafletDirective
  [leafletOptions]="config"
  (leafletMapReady)="onMapReady($event)"
  (leafletMapZoomEnd)="updateConfigMap()"
  (leafletMapMoveEnd)="updateConfigMap()"
>
  <ng-container *ngIf="mode === 'edit'">
    <div leafletDraw [leafletDrawOptions]="drawOptions" (leafletDrawCreated)="onDrawCreated($event)"></div>
    <div [leafletLayer]="drawItems"></div>
  </ng-container>
  <div *ngFor="let layer of leafletLayers" [leafletLayer]="layer"></div>
</div>
<app-map-tools *ngIf="mapReady" [map]="mapReady" [tool]="'default'" [position]="'default'"></app-map-tools>
