@import 'treo';

mgl-map {
  height: 100%;
  // $treo-vertical-navigation-compact-width = 100
  width: calc(100vw - 100px);
}

mat-drawer {
  min-width: 375px !important;
  max-width: 375px !important;
  width: 375px !important;

  @include treo-breakpoint('sm') {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);
}
