@import 'treo';

mgl-map {
  height: 100%;
  width: 100%;
}

mat-drawer {
  min-width: 384px !important;
  max-width: 384px !important;
  width: 384px !important;

  @include treo-breakpoint('sm') {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);
}
