<div class="wrapper">
  <div class="property">
    <div class="flex">
      <button mat-icon-button color="primary" aria-label="Toggle the overlay" (click)="onToggle(property, calque)">
        <mat-icon>{{ property.toggled ? 'expand_more' : 'chevron_right' }}</mat-icon>
      </button>

      <mat-checkbox
        *ngIf="truncateTo > property.displayName.length"
        color="primary"
        [checked]="property.checked"
        [indeterminate]="property.indeterminate"
        [disabled]="true"
        class="disabled"
      >
        {{ property.displayName | title }}
      </mat-checkbox>
      <mat-checkbox
        *ngIf="property.displayName.length >= truncateTo"
        color="primary"
        [checked]="property.checked"
        [indeterminate]="property.indeterminate"
        [disabled]="true"
        [matTooltip]="property.displayName"
        [matTooltipPosition]="'right'"
        [matTooltipClass]="'tooltipProperty'"
        class="disabled"
      >
        {{ name | truncate: [truncateTo] | title }}
      </mat-checkbox>
      <!-- <mat-icon
        *ngIf="isActiveStyle"
        class="icon"
        [matTooltip]="'This property is used for the style'"
        [matTooltipPosition]="'right'"
        >color_lens</mat-icon
      > -->
    </div>
  </div>
  <div *ngIf="property.toggled" class="values">
    <app-property-value
      *ngFor="let value of propertiesSortByOrder"
      [value]="value"
      [property]="property"
      [calque]="calque"
    ></app-property-value>
  </div>
</div>
