<div class="content-layout fullwidth-basic-normal-scroll">
  <treo-card class="auth-card fullscreen">
    <ng-container *transloco="let t">
      <!-- Form container -->
      <div class="form-container">
        <div class="form">
          <!-- Logo -->
          <div class="logo">
            <img src="assets/images/logo/logo.svg" />
          </div>

          <!-- Title -->
          <div class="title">{{ t('resetPassword.title') }}</div>
          <div class="subtitle">{{ t('resetPassword.subtitle') }}</div>

          <!-- Message -->
          <treo-message
            *ngIf="message"
            [appearance]="message.appearance"
            [showIcon]="message.showIcon"
            [type]="message.type"
            [@shake]="message.shake"
          >
            {{ t('resetPassword.' + message.content) }}
          </treo-message>

          <!-- Reset password form -->
          <form [formGroup]="resetPasswordForm">
            <!-- Password field -->
            <mat-form-field>
              <mat-label>{{ t('resetPassword.input1') }}</mat-label>
              <input
                id="password"
                matInput
                type="password"
                [formControlName]="'password'"
                #passwordField
                (keyup.enter)="onPressPassword1()"
              />
              <a mat-icon-button (click)="onSwitchPasswordIcon(passwordField)" tabindex="-1" matSuffix>
                <mat-icon *ngIf="passwordField.type === 'password'" [svgIcon]="'visibility'"></mat-icon>
                <mat-icon *ngIf="passwordField.type === 'text'" [svgIcon]="'visibility_off'"></mat-icon>
              </a>
              <!-- <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                {{ t('resetPassword.input1.required') }}
              </mat-error> -->
              <mat-error
                *ngIf="
                  resetPasswordForm.get('password').hasError('minlength') &&
                  !resetPasswordForm.get('password').hasError('required')
                "
              >
                {{ t('resetPassword.input1.required') }}
              </mat-error>
            </mat-form-field>

            <!-- Password confirm field -->
            <mat-form-field>
              <mat-label>{{ t('resetPassword.input2') }}</mat-label>
              <input
                id="password-confirm"
                matInput
                type="password"
                [formControlName]="'passwordConfirm'"
                #passwordConfirmField
              />
              <a mat-icon-button (click)="onSwitchPasswordIcon(passwordConfirmField)" tabindex="-1" matSuffix>
                <mat-icon *ngIf="passwordConfirmField.type === 'password'" [svgIcon]="'visibility'"></mat-icon>
                <mat-icon *ngIf="passwordConfirmField.type === 'text'" [svgIcon]="'visibility_off'"></mat-icon>
              </a>
              <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                {{ t('resetPassword.input2.required') }}
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('mustMatch')">
                {{ t('resetPassword.input.notMatch') }}
              </mat-error>
            </mat-form-field>

            <!-- Submit button -->
            <button
              class="submit-button treo-mat-button-large"
              mat-flat-button
              type="button"
              [color]="'primary'"
              [disabled]="resetPasswordForm.disabled"
              (click)="resetPassword()"
              (keyup.enter)="resetPassword()"
            >
              <span *ngIf="!resetPasswordForm.disabled">
                {{ t('resetPassword.button') }}
              </span>
              <mat-progress-spinner
                *ngIf="resetPasswordForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"
              ></mat-progress-spinner>
            </button>

            <!-- Form footer -->
            <div class="form-footer">
              <span>{{ t('resetPassword.footer') }}</span>
              <a class="link" [routerLink]="['/sign-in']">{{ t('resetPassword.signin') }}</a>
            </div>
          </form>
        </div>
      </div>

      <!-- Content container -->
      <div class="content-container">
        <div class="background">
          <img src="assets/images/home.jpg" />
        </div>
      </div>
    </ng-container>
  </treo-card>
</div>
