<div class="content-layout fullwidth-basic-normal-scroll">
  <treo-card class="auth-card classic">
    <ng-container *transloco="let t">
      <!-- Form container -->
      <div class="form-container">
        <div class="form">
          <!-- Logo -->
          <div class="logo">
            <img src="assets/images/logo/logo.svg" />
          </div>

          <!-- Title -->
          <div class="title">{{ t('signOut.title') }}</div>
          <div class="subtitle">
            <!-- Redirect countdown -->
            <ng-container *ngIf="countdown > 0">
              {{ t('signOut.subtitle.countdown', { count: countdown }) }}{{ countdown > 1 ? 's' : '' }}
            </ng-container>

            <!-- Redirect message -->
            <ng-container *ngIf="countdown === 0">
              {{ t('signOut.subtitle.message') }}
            </ng-container>
          </div>

          <!-- Form footer -->
          <div class="form-footer">
            <span>{{ t('signOut.form.message') }}</span>
            <a class="link" [routerLink]="['/sign-in']">{{ t('signOut.form.link') }}</a>
          </div>
        </div>
      </div>
    </ng-container>
  </treo-card>
</div>
