.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
  z-index: 10 !important;
  background-color: #475569;
  padding: 6px 0 0 0;
}

.property {
  flex-grow: 1;
  background-color: #475569;
}

.flex {
  display: flex;
  align-items: center;
  align-content: space-between;
}

::ng-deep .tooltipPropertyValue {
  margin-left: 52px !important;
}
