<div class="wrapper">
  <div class="property">
    <div class="flex">
      <mat-checkbox
        *ngIf="truncateTo > value.displayName.length"
        color="primary"
        [checked]="value.checked"
        (change)="onCheck(value, property, calque)"
      >
        {{ displayName | title }}
      </mat-checkbox>
      <mat-checkbox
        *ngIf="value.displayName.length >= truncateTo"
        color="primary"
        [checked]="value.checked"
        [matTooltip]="value.displayName"
        [matTooltipPosition]="'right'"
        [matTooltipClass]="'tooltipPropertyValue'"
        (change)="onCheck(value, property, calque)"
      >
        {{ displayName | truncate: [truncateTo] | title }}
      </mat-checkbox>
    </div>
  </div>
</div>
