<div class="wrapper">
  <div class="calque">
    <div class="flex">
      <button
        mat-icon-button
        color="primary"
        aria-label="Toggle the overlay"
        (click)="onToggle(calque)"
        [disabled]="!(calque.properties.length > 0)"
      >
        <mat-icon>{{ calque.toggled ? 'expand_more' : 'chevron_right' }}</mat-icon>
      </button>

      <mat-checkbox
        *ngIf="truncateTo > calque.name.length"
        color="primary"
        [checked]="calque.checked"
        [indeterminate]="calque.indeterminate"
        (change)="onCheck(calque)"
        [disabled]="!(calque.properties.length > 0)"
      >
        {{ calque.name | title }}
      </mat-checkbox>
      <mat-checkbox
        *ngIf="calque.name.length >= truncateTo"
        color="primary"
        [checked]="calque.checked"
        [indeterminate]="calque.indeterminate"
        [matTooltip]="calque.name"
        [matTooltipPosition]="'right'"
        [matTooltipClass]="'tooltip-calque'"
        (change)="onCheck(calque)"
        [disabled]="!(calque.properties.length > 0)"
      >
        {{ calque.name | truncate: [truncateTo] | title }}
      </mat-checkbox>

      <mat-icon class="icon" *ngIf="calque.properties.length > 0">{{ generateIcon(calque.geomType) }}</mat-icon>
    </div>

    <div>
      <button
        mat-icon-button
        color="primary"
        [matMenuTriggerFor]="menu"
        aria-label="More actions on the layer"
        (click)="onActive(calque.id)"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu" [class]="'menu'">
        <button [disabled]="!(calque.properties.length > 0)" mat-menu-item (click)="openOverlayData(calque.name)">
          <mat-icon>list</mat-icon>
          <span>Données</span>
        </button>
        <button [disabled]="!(calque.properties.length > 0)" mat-menu-item (click)="openDialog()" disabled>
          <mat-icon>style</mat-icon>
          <span>Style</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>add</mat-icon>
          <span>Ajouter des géométries</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>create</mat-icon>
          <span>Renommer</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>delete_outline</mat-icon>
          <span>Supprimer</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="properties" *ngIf="calque.toggled && calque.properties.length > 0">
    <app-property-type
      *ngFor="let property of propertiesSortByName"
      [property]="property"
      [calque]="calque"
    ></app-property-type>
  </div>
</div>
