.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  transition: background-color 0.5s ease;
}

.calque {
  z-index: 100;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
  background-color: #364152;
  border-radius: 6px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 10 !important;
}

.icon {
  margin-left: 8px;
  z-index: 10;
}

.more {
  z-index: 10 !important;
}

::ng-deep .tooltip-calque {
  margin-left: 110px !important;
}

::ng-deep .menu {
  margin-left: 68px !important;
  margin-top: -45px !important;
}

.properties {
  z-index: 10;
  margin-top: -5px;
  padding: 15px 10px 15px 25px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #475569;
}
