@import 'treo';

.drawer-switch {
  width: 30px !important;
  min-width: unset !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

app-buttons-menu {
  button {
    width: 40px !important;
    min-width: unset !important;
    &.first {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom: 1px solid white;
    }
    &.between {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom: 1px solid white;
    }
    &.last {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }
}

@include treo-theme {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  app-buttons-menu {
    .active {
      background-color: map-get($warn, 300) !important;
      width: 100%;
    }
  }

  app-map-drawer {
    .header {
      background-color: map-get($background, hover) !important;
    }

    .content {
      background-color: map-get($background, card) !important;
      height: 100%;
    }
  }
}
