<!-- Shortcuts toggle -->
<button class="shortcuts-toggle" mat-icon-button (click)="openPanel()" #shortcutsOrigin>
  <mat-icon [svgIcon]="'bookmarks'"></mat-icon>
</button>

<!-- Shortcuts panel -->

<ng-template #shortcutsPanel>
  <div class="shortcuts-panel">
    <ng-container *transloco="let t; read: 'shortcuts'">
    <div class="header">
      <div class="title">
        {{ t('title') }}
      </div>

      <div class="actions">
        <!-- View mode -->
        <ng-container *ngIf="mode === 'view'">
          <!-- Enter 'modify' mode -->
          <button mat-icon-button (click)="changeMode('modify')" [matTooltip]="t('edit')">
            <mat-icon [svgIcon]="'edit'"></mat-icon>
          </button>

          <!-- Enter 'add' mode -->
          <button mat-icon-button (click)="newShortcut()" [matTooltip]="t('add')">
            <mat-icon [svgIcon]="'add_circle'"></mat-icon>
          </button>
        </ng-container>

        <!-- Modify mode -->
        <ng-container *ngIf="mode === 'modify'">
          <!-- Enter 'view' mode -->
          <button mat-icon-button (click)="changeMode('view')" [matTooltip]="t('exit')">
            <mat-icon [svgIcon]="'exit_to_app'"></mat-icon>
          </button>
        </ng-container>

        <!-- Add mode -->
        <ng-container *ngIf="mode === 'add'">
          <!-- Enter 'view' mode -->
          <button mat-icon-button (click)="changeMode('view')">
            <mat-icon [svgIcon]="'arrow_back'" [matTooltip]="'Cancel'"></mat-icon>
          </button>
        </ng-container>

        <!-- Edit mode -->
        <ng-container *ngIf="mode === 'edit'">
          <!-- Enter 'modify' mode -->
          <button mat-icon-button (click)="changeMode('modify')">
            <mat-icon [svgIcon]="'arrow_back'" [matTooltip]="'Cancel'"></mat-icon>
          </button>
        </ng-container>
      </div>
    </div>

    <div class="content" [ngClass]="'mode-' + mode">
      <!-- View mode -->
      <ng-container *ngIf="mode === 'view' || mode === 'modify'">
        <!-- Shortcuts -->
        <ng-container *ngFor="let shortcut of shortcuts">
          <div class="shortcut">
            <div class="edit-shortcut" (click)="editShortcut(shortcut)"></div>

            <!-- Normal links -->
            <a *ngIf="!shortcut.useRouter" [href]="shortcut.link" target=”_blank”>
              <ng-container *ngTemplateOutlet="linkContent"></ng-container>
            </a>

            <!-- Router links -->
            <a *ngIf="shortcut.useRouter" [routerLink]="createRouteFromLink(shortcut.link)">
              <ng-container *ngTemplateOutlet="linkContent"></ng-container>
            </a>

            <ng-template #linkContent>
              <div class="icon">
                <mat-icon class="edit-icon" *ngIf="mode === 'modify'" [svgIcon]="'edit'"></mat-icon>
                <mat-icon class="link-icon" [svgIcon]="shortcut.icon"></mat-icon>
              </div>
              <div class="label">{{ shortcut.label }}</div>
              <div class="description">{{ shortcut.description }}</div>
            </ng-template>
          </div>
        </ng-container>

        <ng-container *ngIf="!shortcuts || !shortcuts.length">
          <div class="empty">
            <mat-icon [svgIcon]="'bookmarks'"></mat-icon>
            <span>{{ t('no.shortcut') }}</span>
          </div>
        </ng-container>
      </ng-container>

      <!-- Form mode -->
      <ng-container *ngIf="mode === 'add' || mode === 'edit'">
        <form [formGroup]="shortcutForm">
          <mat-form-field>
            <mat-label>{{ t('label' )}}</mat-label>
            <input matInput [formControlName]="'label'" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ t('description' )}}</mat-label>
            <input matInput [formControlName]="'description'" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ t('icon' )}}</mat-label>
            <mat-select [formControlName]="'icon'" required>
              <mat-option *ngFor="let icon of icons" [value]="icon">
                <mat-icon matPrefix [svgIcon]="icon"></mat-icon> {{ icon }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ t('link' )}}</mat-label>
            <input matInput [formControlName]="'link'" required />
          </mat-form-field>

          <mat-slide-toggle [color]="'primary'" [formControlName]="'useRouter'">
            {{ t('router.toggle' )}}
          </mat-slide-toggle>

          <div class="actions">
            <button class="delete" *ngIf="mode === 'edit'" mat-flat-button type="button" (click)="delete()">
              {{ t('delete' )}}
            </button>

            <button id="add" mat-flat-button [color]="'primary'" [disabled]="!shortcutForm.valid" type="button" (click)="save()">
              <ng-container *ngIf="mode === 'add'">{{ t('add' )}}</ng-container>
              <ng-container *ngIf="mode === 'edit'">{{ t('update' )}}</ng-container>
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </ng-container>
  </div>
</ng-template>
