<div class="content-layout fullwidth-basic-normal-scroll">
  <treo-card class="auth-card fullscreen">
    <ng-container *transloco="let t">
      <!-- Form container -->
      <div class="form-container">
        <div class="form">
          <!-- Logo -->
          <div class="logo">
            <img src="assets/images/logo/logo.svg" />
          </div>

          <!-- Title -->
          <div class="title">{{ t('signIn.form.title') }}</div>
          <div class="subtitle">
            <span>{{ t('signIn.form.sub-title') }}</span>
            <a class="link" [routerLink]="['/sign-up']">{{ t('signIn.form.link') }}</a>
          </div>

          <!-- Message -->
          <treo-message
            *ngIf="message$ | async as message"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="'error'"
            [@shake]="true"
          >
            <div *ngIf="message.length > 5; else unknown">{{ t('signIn.' + message) }}</div>
            <ng-template #unknown>Une erreur inconnu est survenue.</ng-template>
          </treo-message>

          <!-- Sign in form -->
          <form [formGroup]="loginForm">
            <!-- Email field -->
            <mat-form-field>
              <mat-label>{{ t('signIn.form.label-email') }}</mat-label>
              <input
                id="email"
                matInput
                [formControlName]="'email'"
                placeholder="email@company.com"
                (keyup.enter)="onPressEmail()"
              />
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field>
              <mat-label>{{ t('signIn.form.label-password') }}</mat-label>
              <input
                id="password"
                matInput
                type="password"
                [formControlName]="'password'"
                [placeholder]="passwordPlaceholder"
                (keyup.enter)="onSignIn()"
                #passwordField
              />
              <a mat-icon-button tabindex="-1" (click)="onSwitchPasswordIcon(passwordField)">
                <mat-icon *ngIf="passwordField.type === 'password'" [svgIcon]="'visibility'"></mat-icon>
                <mat-icon *ngIf="passwordField.type === 'text'" [svgIcon]="'visibility_off'"></mat-icon>
              </a>
            </mat-form-field>

            <!-- Field footer -->
            <div class="field-footer">
              <div class="remember-me">
                <mat-checkbox [color]="'primary'" [formControlName]="'rememberMe'">
                  {{ t('signIn.form.remember-me') }}
                </mat-checkbox>
              </div>
              <a class="link" [routerLink]="['/forgot-password']">{{ t('signIn.form.forgot-password') }}</a>
            </div>

            <!-- Submit button -->
            <button
              id="submit"
              class="submit-button treo-mat-button-large"
              mat-flat-button
              type="button"
              [color]="'primary'"
              [disabled]="(pending$ | async) || loginForm.invalid"
              (click)="onSignIn()"
            >
              <span *ngIf="!(pending$ | async)">
                {{ t('signIn.form.button') }}
              </span>
              <mat-progress-spinner
                *ngIf="pending$ | async"
                [diameter]="24"
                [mode]="'indeterminate'"
              ></mat-progress-spinner>
            </button>

            <!-- Single sign-on -->
            <div class="sso">
              <div class="separator">
                {{ t('signIn.form.continue-with') }}
              </div>
              <div class="buttons">
                <button class="sso-button" mat-stroked-button>
                  <mat-icon [svgIcon]="'feather:facebook'"></mat-icon>
                </button>
                <button class="sso-button" mat-stroked-button>
                  <mat-icon [svgIcon]="'feather:twitter'"></mat-icon>
                </button>
                <button class="sso-button" mat-stroked-button>
                  <mat-icon [svgIcon]="'feather:github'"></mat-icon>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Content container -->
      <div class="content-container">
        <!-- Background - Inline SVG for easy customizations -->
        <div class="background">
          <img src="assets/images/home.jpg" />
        </div>

        <!-- <div class="content">
          <div class="title">
            <span>{{ t('signIn.content.title') }}</span>
          </div>
          <div class="description">
            {{ t('signIn.content.description') }}
          </div>
          <button class="learn-more-button" mat-stroked-button>
            {{ t('signIn.content.button') }}
          </button>
        </div> -->
      </div>
    </ng-container>
  </treo-card>
</div>
