<div class="content-layout fullwidth-basic-normal-scroll">
  <treo-card class="auth-card fullscreen">
    <ng-container *transloco="let t">
      <!-- Form container -->
      <div class="form-container">
        <div class="form">
          <!-- Logo -->
          <div class="logo">
            <img src="assets/images/logo/logo.svg" />
          </div>

          <!-- Title -->
          <div class="title">{{ t('signIn.form.title') }}</div>
          <div class="subtitle">
            <span>{{ t('signIn.form.sub-title') }}</span>
            <a class="link" [routerLink]="['/sign-up']">{{ t('signIn.form.link') }}</a>
          </div>

          <!-- Message -->
          <treo-message
            *ngIf="message"
            [appearance]="message.appearance"
            [showIcon]="message.showIcon"
            [type]="message.type"
            [@shake]="message.shake"
          >
            {{ message.content }}
          </treo-message>

          <!-- Sign in form -->
          <form [formGroup]="signInForm">
            <!-- Email field -->
            <mat-form-field>
              <mat-label>{{ t('signIn.form.label-email') }}</mat-label>
              <input id="email" matInput [formControlName]="'email'" />
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field>
              <mat-label>{{ t('signIn.form.label-password') }}</mat-label>
              <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
              <button
                mat-icon-button
                (click)="
                  passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
                "
                tabindex="-1"
                matSuffix
              >
                <mat-icon *ngIf="passwordField.type === 'password'" [svgIcon]="'visibility'"></mat-icon>
                <mat-icon *ngIf="passwordField.type === 'text'" [svgIcon]="'visibility_off'"></mat-icon>
              </button>
            </mat-form-field>

            <!-- Field footer -->
            <div class="field-footer">
              <div class="remember-me">
                <mat-checkbox [color]="'primary'" [formControlName]="'rememberMe'">
                  {{ t('signIn.form.remember-me') }}
                </mat-checkbox>
              </div>
              <a class="link" [routerLink]="['/forgot-password']">{{ t('signIn.form.forgot-password') }}</a>
            </div>

            <!-- Submit button -->
            <button
              class="submit-button treo-mat-button-large"
              mat-flat-button
              type="button"
              [color]="'primary'"
              [disabled]="signInForm.disabled"
              (click)="signIn()"
            >
              <span *ngIf="!signInForm.disabled">
                {{ t('signIn.form.button') }}
              </span>
              <mat-progress-spinner
                *ngIf="signInForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"
              ></mat-progress-spinner>
            </button>

            <!-- Single sign-on -->
            <div class="sso">
              <div class="separator">
                {{ t('signIn.form.continue-with') }}
              </div>
              <div class="buttons">
                <button class="sso-button" mat-stroked-button>
                  <mat-icon [svgIcon]="'feather:facebook'"></mat-icon>
                </button>
                <button class="sso-button" mat-stroked-button>
                  <mat-icon [svgIcon]="'feather:twitter'"></mat-icon>
                </button>
                <button class="sso-button" mat-stroked-button>
                  <mat-icon [svgIcon]="'feather:github'"></mat-icon>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Content container -->
      <div class="content-container">
        <!-- Background - Inline SVG for easy customizations -->
        <div class="background">
          <img src="assets/images/home.jpg" />
        </div>

        <!-- <div class="content">
          <div class="title">
            <span>{{ t('signIn.content.title') }}</span>
          </div>
          <div class="description">
            {{ t('signIn.content.description') }}
          </div>
          <button class="learn-more-button" mat-stroked-button>
            {{ t('signIn.content.button') }}
          </button>
        </div> -->
      </div>
    </ng-container>
  </treo-card>
</div>
