@import 'treo';

auth-sign-in {
  .content-layout {
    align-items: center;
    justify-content: center;
  }
}

#submit:disabled {
  cursor: no-drop;
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
}
