<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sticky>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let row" (click)="onClickRow(row.id)" [ngClass]="{ active: row.id === active }">
        {{ row[column] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune donnée correspondant à la recherche "{{ input.value }}"</td>
    </tr>
  </table>
  <div class="footer">
    <div class="left">
      <input
        type="text"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Recherche"
        #input
        [autocomplete]="'off'"
        class="search w-40 bg-white py-2 px-4 rounded"
      />
    </div>
    <div class="right">
      <mat-form-field class="w-60">
        <mat-select (selectionChange)="onChangeActiveCalque($event)" name="calque" [(value)]="selectedCalqueName">
          <mat-option *ngFor="let calque of calques$ | async" [value]="calque.name">
            {{ calque.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        (click)="onClose()"
        class="btn ml-2 bg-cool-gray-400 hover:bg-cool-gray-500 text-white py-2 px-4 rounded font-semibold"
      >
        Fermer
      </button>
    </div>
  </div>
</div>
