@import 'treo';

app-dynamic-table {
  table {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 10px;

    th {
      padding: 0 20px 0 20px !important;
    }

    td {
      padding: 0 20px 0 20px !important;
    }
  }

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top-width: 1px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include treo-breakpoint('xs') {
      position: relative;
      right: auto;
      bottom: auto;
      left: auto;
    }

    .left {
      .search {
        border: 1px solid #cfd8e3;

        &:focus {
          border-color: #11afb6;
        }

        &:hover {
          background-color: #fbfdfe;
        }
      }
    }

    .right {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;

      .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
        align-items: inherit;
        min-height: 39px;
        padding: 0;
      }

      .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        padding: 0 12px 0 0;
      }

      .mat-form-field.mat-form-field-appearance-fill
        .mat-form-field-wrapper
        .mat-form-field-flex
        .mat-form-field-infix
        .mat-select
        .mat-select-trigger
        .mat-select-value {
        padding: 0 0 0 16px;
      }

      .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
        margin-bottom: 0 !important;
      }

      .btn {
        border: 1px solid #fbfdfe;
      }
    }
  }
}

@include treo-theme {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  app-dynamic-table {
    table {
      background: transparent;

      thead {
        th {
          box-shadow: 0 1px 0 0 map-get($foreground, divider);
          font-weight: 700 !important;
          font-size: 0.85rem;

          @if ($is-dark) {
            background: rgba(0, 0, 0, 0.05);
            color: white !important;
          } @else {
            color: treo-color('cool-gray', 500) !important;
            background: treo-color('cool-gray', 100) !important;
          }
        }
      }

      tbody {
        tr {
          cursor: pointer;
          &:hover {
            @if ($is-dark) {
              background: rgba(0, 0, 0, 0.05);
            } @else {
              background: treo-color('teal', 50);
            }
          }

          .active {
            @if ($is-dark) {
              background: rgba(0, 0, 0, 0.1) !important;
            } @else {
              background: treo-color('blue', 50) !important;
            }
          }
        }
      }
    }
    .footer {
      @if ($is-dark) {
        background: rgba(0, 0, 0, 0.05);
        color: white !important;
      } @else {
        color: treo-color('cool-gray', 500) !important;
        background: treo-color('cool-gray', 100) !important;
      }
    }
  }
}
