<div class="content-layout fullwidth-basic-normal-scroll" >
  <treo-card class="auth-card">
      <div class="form-container">
        <div class="form">
          <img src="assets/images/pages/coming-soon/soon.svg" alt="Image en construction"/>

          <div class="title">Bientôt disponible !</div>
          <div class="subtitle">
            Le module "{{ featureName }}" est en construction. 
            <ng-container *ngIf="!alreadySubscribed">
              Cliquez ci-dessous pour ne pas rater son lancement.
            </ng-container> 
            <ng-container *ngIf="alreadySubscribed">
              Vous serez informé lors de son lancement.
            </ng-container> 
          </div>

          <form>
            <button
              *ngIf="!alreadySubscribed"
              class="submit-button treo-mat-button-large -mt-2"
              mat-flat-button
              type="button"
              [color]="'primary'"
              [disabled]="isLoading"
              (click)="onclick()"
            >
              <span *ngIf="!isLoading">
                Être informé du lancement
              </span>
              <mat-progress-spinner
                *ngIf="isLoading"
                [diameter]="24"
                [mode]="'indeterminate'"
              ></mat-progress-spinner>
            </button>

            <div class="form-footer">
              Notre équipe travail dur pour vous livrer de nouvelles fonctionnalitées ❤️
            </div>
          </form>
        </div>
      </div>
    </treo-card>
</div>
