<div class="content-layout fullwidth-standard-inner-scroll">
  <!-- Main -->
  <div class="main">
    <!-- Header -->
    <div class="header">
      <!-- Title -->
      <div class="title">
        <h1>
          Campagnes
        </h1>
      </div>

      <!-- Main actions -->
      <div class="main-actions">
        <!-- Search -->
        <div class="search">
          <mat-form-field class="treo-mat-dense treo-mat-no-subscript">
            <mat-icon matPrefix [svgIcon]="'search'"></mat-icon>
            <input
              #searchInput
              matInput
              (keyup)="applyFilter($event)"
              [autocomplete]="'off'"
              [placeholder]="'Rechercher'"
            />
          </mat-form-field>
        </div>

        <button class="add-campaign" mat-flat-button [color]="'primary'" (click)="onAddCampaign()">
          <mat-icon [svgIcon]="'add'"></mat-icon>
          Ajouter
        </button>

        <!-- TODO:  Switch template -->
        <!-- <button class="switch-template" mat-stroked-button (click)="(true)">
          <mat-icon *ngIf="true">view_list</mat-icon>
          <mat-icon *ngIf="false">view_module</mat-icon>
        </button> -->
      </div>

      <div class="loader" *ngIf="(isLoading$ | async) || (navigationLoad$ | async)">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
    </div>

    <!-- campaigns list -->
    <div class="campaigns-list" *ngIf="!(isLoading$ | async); else loading">
      <ng-container *ngIf="(campaigns$ | async)?.length > 0; else empty">
        <div class="table-wrapper">
          <!-- Table -->
          <table
            [ngClass]="{ loading: isLoading$ | async }"
            mat-table
            [dataSource]="dataSource"
            matSort
            [matSortActive]="'lastUpdate'"
            [matSortDirection]="'desc'"
          >
            <!-- Title -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Titre
              </th>
              <td mat-cell *matCellDef="let campaign">
                <div class="title-content">
                  <span class="thumbnail">
                    <img *ngIf="campaign.thumbnail" [src]="campaign.thumbnail" />
                    <span *ngIf="!campaign.thumbnail">
                      No Image
                    </span>
                  </span>
                  <span class="title">{{ campaign.title }}</span>
                </div>
              </td>
            </ng-container>

            <!-- Créee le -->
            <ng-container matColumnDef="creationDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Créée le
              </th>
              <td mat-cell *matCellDef="let campaign">
                {{ getDate(campaign.creationDate) }}
              </td>
            </ng-container>

            <!-- Editée le -->
            <ng-container matColumnDef="lastUpdate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Editée
              </th>
              <td mat-cell *matCellDef="let campaign">
                {{ fromNow(campaign.lastUpdate) }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="campaignsTableColumns; sticky: true"></tr>
            <tr
              class="campaign-row"
              mat-row
              *matRowDef="let campaign; columns: campaignsTableColumns"
              [routerLink]="campaign.id"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Aucune donnée correspondante au filtre "{{ searchInput.value }}"</td>
            </tr>
          </table>
        </div>
        <mat-paginator
          [ngClass]="{ loading: isLoading$ | async }"
          [pageSizeOptions]="[10, 25, 100]"
          [showFirstLastButtons]="true"
        ></mat-paginator>
      </ng-container>
      <ng-template #empty>
        <div class="h-full w-full flex justify-center items-center">
          <div class="flex flex-col justify-center items-center">
            <h2 class="text-center mb-12">Aucunes campagnes disponibles.</h2>
            <img class="w-80" src="assets/images/empty.svg" />
            <div class="mt-12">
              <button mat-stroked-button (click)="onAddCampaign()">Ajouter une campagne</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #loading>
      <div class="campaigns-list">
        <table>
          <td class="ssc-square skeleton bg-gray-100"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="ssc-square skeleton"></td>
          <td class="paginator ssc-square skeleton bg-gray-100"></td>
        </table>
      </div>
    </ng-template>
  </div>
</div>
