@import 'treo';

app-campaign-list {
  display: flex;
  flex: 1 1 auto;

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    min-height: 100%;
    background-color: white;

    .header {
      position: relative;
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      padding: 40px 32px;
      border-bottom-width: 1px;

      @include treo-breakpoint('xs') {
        flex-direction: column;
        align-items: flex-start;
      }

      .title {
        margin-right: 32px;

        @include treo-breakpoint('xs') {
          margin-right: 0;
        }

        h1 {
          margin: 0;
          line-height: 1;
        }
      }

      .main-actions {
        display: flex;
        align-items: center;
        margin-left: auto;

        @include treo-breakpoint('xs') {
          margin-top: 32px;
          margin-left: 0;
          width: 100%;
        }

        .search {
          flex: 1 1 auto;
          margin-right: 16px;
          min-width: 200px;
          width: 100%;

          @include treo-breakpoint('xs') {
            min-width: 0;
          }

          .mat-form-field {
            width: 100%;
          }
        }

        .add-campaign {
          flex: 1 0 auto;
          padding: 0 20px 0 16px;
          margin-right: 16px;
          cursor: copy;

          .mat-icon {
            margin-right: 8px;
            @include treo-icon-size(20);
          }
        }

        .switch-template {
          padding: 0 10px;
        }
      }

      .loader {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .campaigns-list {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      margin-bottom: 72px;
      overflow: hidden;

      @include treo-breakpoint('xs') {
        display: block;
        overflow: visible;
        margin-bottom: 0;
      }

      .table-wrapper {
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        @include treo-breakpoint('xs') {
          overflow: visible;
          overflow-x: auto;
        }

        table {
          width: 100%;
          table-layout: fixed;

          &.loading {
            pointer-events: none;
            tbody {
              background: red;
              tr {
                width: 128px;
              }
              td {
                width: 128px;
              }
            }
            thead {
              th {
                width: 128px;
              }
            }
          }

          thead {
            th {
              &.mat-column-title {
                width: 128px;
                padding-left: 104px;
              }

              &.mat-column-creationDate {
                width: 64px;
              }

              &.mat-column-editionDate {
                width: 64px;
              }
            }
          }

          tbody {
            tr.campaign-row {
              height: 72px;

              td {
                line-height: 1;
                border-bottom-width: 1px;

                &.mat-column-title {
                  .title-content {
                    display: flex;
                    align-items: center;

                    .thumbnail {
                      position: relative;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 48px;
                      min-width: 48px;
                      height: 48px;
                      min-height: 48px;
                      margin-right: 24px;
                      overflow: hidden;
                      border-width: 1px;
                      border-radius: 8px;

                      > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }

                      > span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        font-size: 10px;
                        font-weight: 600;
                        line-height: normal;
                        text-align: center;
                        text-transform: uppercase;
                      }
                    }

                    .title {
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      line-height: normal;
                    }
                  }
                }

                &.mat-column-creationDate {
                  padding-right: 0px;
                }

                &.mat-column-editionDate {
                  padding-right: 0px;
                }
              }
            }
          }
        }
      }

      .mat-paginator {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-top-width: 1px;
        border-bottom-width: 1px;
        z-index: 10;

        @include treo-breakpoint('xs') {
          position: relative;
          right: auto;
          bottom: auto;
          left: auto;
        }

        &.loading {
          pointer-events: none;
        }

        .mat-paginator-container {
          min-height: 72px;
        }
      }

      .no-campaigns {
        padding: 64px;
        font-size: 24px;
        text-align: center;

        @include treo-breakpoint('xs') {
          padding: 32px;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);

  app-campaign-list {
    .main {
      .campaigns-list {
        table {
          background: transparent;

          thead {
            th {
              box-shadow: 0 1px 0 0 map-get($foreground, divider);

              @if ($is-dark) {
                background: rgba(0, 0, 0, 0.05);
              } @else {
                background: treo-color('cool-gray', 50);
              }
            }
          }

          tbody {
            tr.campaign-row {
              cursor: pointer;
              &:hover {
                @if ($is-dark) {
                  background: rgba(0, 0, 0, 0.05);
                } @else {
                  background: map-get($primary, 50);
                }
              }

              td {
                &.mat-column-sku {
                  .thumbnail {
                    background: white;

                    > span {
                      color: treo-color('cool-gray', 500);
                    }
                  }
                }
              }
            }

            tr.campaign-details-row {
              td {
                &.mat-column-campaignDetails {
                  .campaign-details-container {
                    .campaign-details {
                      .tags {
                        @if ($is-dark) {
                          background-color: rgba(0, 0, 0, 0.05);
                          border-color: treo-color('cool-gray', 500);
                        } @else {
                          background-color: white;
                          border-color: treo-color('cool-gray', 300);
                        }

                        .available-tags {
                          box-shadow: 0 -1px 0 0 map-get($foreground, divider);

                          .mat-checkbox {
                            &:hover {
                              background: map-get($background, hover);
                            }
                          }
                        }

                        .create-tag {
                          background: map-get($background, hover);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .mat-paginator {
          @if ($is-dark) {
            background: rgba(0, 0, 0, 0.05);
          } @else {
            background: treo-color('cool-gray', 50);
          }
        }
      }
    }
  }
}
