@import 'treo';

app-map-image {
  mgl-map {
    height: 100%;
    width: 100%;
    // max-width: calc(100vw - 100px) !important;
    // width: calc(100vw - 100px) !important;
    // @include treo-breakpoint('xs') {
    //   width: 100vw !important;
    //   max-width: 100vw !important;
    // }
    // @include treo-breakpoint('sm') {
    //   width: 100vw !important;
    //   max-width: 100vw !important;
    // }
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);

  app-map-image {
  }
}
