:host {
  width: 300px;
  height: 30%;
  max-height: 250px;
  min-height: 150px;
}

.wrapper-direction {
  width: 100%;
  height: 100%;
  background: transparent;
  transform: perspective(500px) rotateX(50deg);

  // remove cursor selection
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.direction {
  height: 22%;
  width: 22%;
  min-height: 40px;
  min-width: 40px;
  max-height: 70px;
  max-width: 70px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}

.direction:hover {
  background: #11afb6;
  opacity: 0.5;
}

.direction:active {
  opacity: 0.75;
}

.direction-left-50 {
  left: calc(50% - 35px);
}

.direction-bottom-5 {
  bottom: 5px;
}

.direction-top-5 {
  top: 5px;
}

.direction-left-5 {
  left: 5px;
}

.direction-right-5 {
  right: 5px;
}

.front {
  transform: scale(0.9);
  fill: #ffffff !important;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.75));
}

.front-left {
  transform: scale(0.7);
  fill: #ffffff !important;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.75));
}

.front-right {
  transform: scaleX(-1) scale(0.7);
  fill: #ffffff !important;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.75));
}

.back {
  transform: rotate(180deg) translateY(-25%);
  fill: #ffffff !important;
  filter: drop-shadow(0px -8px 5px rgba(0, 0, 0, 0.75));
}

.back-left {
  transform: scale(0.95) rotate(20deg);
  fill: #ffffff !important;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.75));
}

.back-right {
  transform: scaleX(-1) scale(0.95) rotate(20deg);
  fill: #ffffff !important;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.75));
}
