<section class="card overflow-hidden flex flex-col" *ngIf="campaign$ | async as campaign">
  <div class="header min-h-20 p-4 bg-white">
    <div class="flex justify-between items-center">
      <div class="antialiased">
        <div
          class="title text-2xl font-semibold text-cool-gray-800 tracking-tight antialiased leading-tight mr-5"
          (click)="onToggled()"
        >
          {{ campaign.title }}
        </div>
        <div class="font-medium tracking-wide text-cool-gray-500 mt-1" *ngIf="campaign.subtitle">
          {{ campaign.subtitle }}
        </div>
      </div>
      <div>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" aria-label="More actions on the layer">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" [class]="'menu'">
          <button mat-menu-item (click)="onClick('vue')">
            <mat-icon>preview</mat-icon>
            <span>Définir cette vue par défaut</span>
          </button>
          <!-- <button mat-menu-item>
            <mat-icon>layers</mat-icon>
            <span>Ajouter un calque</span>
          </button>
          <button mat-menu-item>
            <mat-icon>query_stats</mat-icon>
            <span>Visualiser dans le dashboard</span>
          </button>
          <button mat-menu-item>
            <mat-icon>copy_all</mat-icon>
            <span>Dupliquer la carte</span>
          </button>
          <button mat-menu-item>
            <mat-icon>print</mat-icon>
            <span>Imprimer la carte</span>
          </button>
          <button mat-menu-item>
            <mat-icon>share</mat-icon>
            <span>Partager la carte</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="export">
            <mat-icon>download</mat-icon>
            <span>Exporter la carte</span>
          </button>
          <mat-menu #export="matMenu">
            <button mat-menu-item>En CSV</button>
            <button mat-menu-item>En KML</button>
            <button mat-menu-item>En Geojson</button>
            <button mat-menu-item>En Shape</button>
          </mat-menu>
          <button mat-menu-item>
            <mat-icon>delete_outline</mat-icon>
            <span>Placer dans la corbeille</span>
          </button> -->
        </mat-menu>
      </div>
    </div>
  </div>
  <div [@slideHeightCard]="isOpen$ | async">
    <div class="px-4 py-1 bg-cool-gray-100">
      <div class="text-lg font-medium text-cool-gray-800 py-2">Calques</div>
    </div>
    <div class="flex flex-col min-h-32 px-4 pb-6 bg-cool-gray-100 overflow-x-auto">
      <app-calque-list [calques]="calques$ | async"></app-calque-list>
    </div>
    <div class="px-4 py-1 bg-white">
      <div class="text-lg font-medium text-cool-gray-800 py-2">Fond de carte</div>
      <app-baselayer-list
        [baselayers]="baselayers$ | async"
        [activeBaselayerId]="activeBaselayerId$ | async"
      ></app-baselayer-list>
    </div>
  </div>
</section>
