<ng-container *transloco="let t">
  <button class="icon-button" mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="avatar">
      <img *ngIf="showAvatar && user.avatar" [src]="user.avatar" />
      <mat-icon *ngIf="!showAvatar || !user.avatar" [svgIcon]="'account_circle'"></mat-icon>
      <span class="status" [ngClass]="user.status"></span>
    </span>
  </button>

  <mat-menu class="user-actions-menu" [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item *ngIf="email$ | async as email">
      <span class="user-info">
        <span>{{ t('user.title') }}</span>
        <span class="email">{{ email }}</span>
      </span>
    </button>
    <!-- <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="onNavigate('settings')">
      <mat-icon [svgIcon]="'settings'"></mat-icon>
      <span>{{ t('user.settings') }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="userStatus">
      <mat-icon [svgIcon]="'radio_button_unchecked'"></mat-icon>
      <span>{{ t('user.status') }}</span>
    </button> -->
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="onNavigate('sign-out')">
      <mat-icon [svgIcon]="'power_settings_new'"></mat-icon>
      <span>{{ t('user.signOut') }}</span>
    </button>
  </mat-menu>

  <!-- <mat-menu class="user-status-menu" #userStatus="matMenu">
    <button mat-menu-item (click)="updateUserStatus('online')">
      <span class="status online"></span>
      <span>{{ t('user.status.online') }}</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('busy')">
      <span class="status busy"></span>
      <span>{{ t('user.status.busy') }}</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('not-visible')">
      <span class="status not-visible"></span>
      <span>{{ t('user.status.invisible') }}</span>
    </button>
  </mat-menu> -->
</ng-container>
