<div class="container">
  <div class="mapAndViewer">
    <div class="map flex-auto" [ngClass]="{ minWidth: isData$ | async }">
      <ng-container *ngIf="filteredOverlays$ | async">
        <app-map
          [config]="leafletMapConfig"
          [overlays]="filteredOverlays$ | async"
          [cameraConfig]="cameraConfig$ | async"
          (map)="mapReady = $event"
          (guyDragEnd)="onNavigate($event)"
        ></app-map>

        <div class="above">
          <div class="cards">
            <app-map-card></app-map-card>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex-initial bg-gray-200" [@slide]="isViewer$ | async">
      <app-viewer
        [picture]="selectedPicture$ | async"
        [point]="selectedPicturePoint$ | async"
        [isOpen]="isViewer$ | async"
        [isFullscreen]="isViewerFullscreen$ | async"
        (toggleFullscreen)="onToggleFullscreen()"
        (closeViewer)="onCloseViewer()"
        (changeCamera)="onChangeCamera($event)"
        (goToNeighbours)="onGoToNeighbours($event)"
      ></app-viewer>
    </div>
  </div>
  <div class="data flex-auto" [@slideHeight]="isData$ | async">
    <app-dynamic-table
      *ngIf="isData$ | async"
      [data]="activeProperties$ | async"
      (activeRow)="onFlyToTheFeature($event)"
    ></app-dynamic-table>
  </div>
</div>
